<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498828847305-l7g9ss0j7q8f266uteoeblagp020mjup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498828847305-l7g9ss0j7q8f266uteoeblagp020mjup</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>498828847305-201mh8n37fqhhtdggmn8bcgreftr4gd6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOexvDpZOZCmjU9L9g23zmh5DiD49c0cU</string>
	<key>GCM_SENDER_ID</key>
	<string>498828847305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gp.kainoai</string>
	<key>PROJECT_ID</key>
	<string>kainoai</string>
	<key>STORAGE_BUCKET</key>
	<string>kainoai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498828847305:ios:bd92469aff77856feac518</string>
</dict>
</plist>
